<!DOCTYPE html>
<!--

              ,,,         ,,,
          ;"   ^;     ;'   ",
          ;    s$$$$$$$s     ;
          ,  ss$$$$$$$$$$s  ,'
          ;s$$$$$$$$$$$$$$$
          $$$$$$$$$$$$$$$$$$
         $$$$P""Y$$$Y""W$$$$$
         $$$$  p"$$$"q  $$$$$
         $$$$  .$$$$$.  $$$$
          $$$%$%$$$$$$$$$$
            "Y$$$"*"$$$Y"  by
               "$b.$$"    Panda_Guerrier


-->
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vérification</title>
  @entryPointStyles('app')
  @entryPointScripts('app')
</head>

<body class="">
  <main class="h-[100vh] bg-gray-800"> 
    <div class="flex flex-col justify-center items-center h-full w-full">
        <h1 class="text-blue-400 text-6xl">Vérification</h1>
        <h2 class="text-gray-300 text-3xl">Vous avez bien passé la vérification !</h2>
        <h3 class="text-gray-300 text-2xl">Vous avez désormais accès à la <a class="text-blue-400">totalité</a> du serveur.</h3>
    </div>
  </main>
</body>
</html>